Checks: >
  clang-diagnostic-*,
  clang-analyzer-*
  bugprone-*,
  google-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -google-readability-braces-around-statements,
  -google-readability-casting,
  -modernize-use-using,
  -google-explicit-constructor,
  -google-readability-todo,
  -google-global-names-in-headers,
  -google-build-using-namespace,
  -modernize-pass-by-value,
  -google-readability-namespace-comments,
  -google-runtime-int,
  -google-runtime-references,
  -misc-non-private-member-variables-in-classes,
  -readability-braces-around-statements,
  -readability-avoid-const-params-in-decls,
  -readability-implicit-bool-conversion,
  -readability-named-parameter,
  -readability-delete-null-pointer,
  -readability-avoid-nested-conditional-operator,
  -google-default-arguments,
  -modernize-use-override,
  -misc-unused-parameters,
  -modernize-use-trailing-return-type,
  -modernize-use-nodiscard,
  -readability-redundant-access-specifiers,
  -readability-magic-numbers,
  -readability-simplify-boolean-expr,
  -modernize-avoid-c-arrays,
  -performance-move-const-arg,
  -modernize-avoid-bind,
  -readability-identifier-length,
  -performance-enum-size

WarningsAsErrors: '*'

